{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Create an account{% endblock title %}

{% block content %}

<div class="container my-5 text-center">
    <h1>Create an account</h1>
    <p>Please, sign up using the following form:</p>

    <form class="miniform" action="" method="post">
        {{user_form|crispy}}
        {% csrf_token %}
        <p><input class="btn btn-primary" type="submit" value="Create account"></p>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Log in now</a>.</p>
</div>

{% endblock content %}